# ========================
# Build (Maven / Gradle)
# ========================
target/
build/
out/
*.class
*.jar
*.war
*.ear

# Maven
.mvn/
mvnw
mvnw.cmd

# ========================
# Logs
# ========================
logs/
*.log

# ========================
# IDEs
# ========================

# IntelliJ
.idea/
*.iml

# ========================
# Sistema Operacional
# ========================
.DS_Store
Thumbs.db

# ========================
# Arquivos temporários
# ========================
*.tmp
*.swp

# ========================
# Configurações sensíveis
# ========================
src/main/resources/application.yml
src/main/resources/application.yaml
src/main/resources/application.properties

# Profiles
src/main/resources/application-*.yml
src/main/resources/application-*.yaml
src/main/resources/application-*.properties

# ========================
# Uploads / arquivos gerados
# ========================
uploads/
tmp/
